# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Production
dist
dist-ssr
build

# Misc
.DS_Store
*.pem
.env
.env.*
!.env.example

# Debug logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - IntelliJ
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo
.tsbuildinfo
next-env.d.ts

# Vite
*.local

# NestJS
/dist
/node_modules

# Cache
.npm
.eslintcache
.prettiercache

.docker
docker-compose.override.yml