{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"experimentalTernaries": true,
	"jsxSingleQuote": true,
	"printWidth": 80,
	"quoteProps": "as-needed",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true
}
